#We absolutely don't want those files to be added to our pot

#OSX Files
*.DS_Store

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

#boot folder
/kernel/arch/x86/boot/*.bin
/kernel/arch/x86/boot/boot
/kernel/arch/x86/boot/test
/kernel/arch/x86/boot/*.img
/kernel/arch/x86/boot/bochsrc
/kernel/arch/x86/boot/*.dump
/kernel/arch/x86/boot/

